<?xml version="1.0" encoding="utf-8" ?>
<bundles version="1.0">
  <styleBundle path="~/Content/css">
    <include path="~/Content/bootstrap.css" />
    <include path="~/Content/app.min.css" />
    <include path="~/Content/vendors.css" />
    <include path="~/Content/bootstrap-extended.css" />
    <include path="~/Content/colors.css" />
    <include path="~/Content/components.css" />
    <include path="~/Content/core/menu/menu-types/vertical-menu.css" />
    <include path="~/Content/core/menu/menu-types/vertical-menu-modern.css" />
    <include path="~/Content/core/menu/menu-types/vertical-overlay-menu.css" />
    <include path="~/Content/core/menu/menu-types/horizontal-menu.css" />
    <include path="~/Content/core/colors/palette-climacon.css" />
    <include path="~/Content/core/colors/palette-gradient.css" />
    <include path="~/Content/pages/users.css" />
    <include path="~/Content/style.css" />
    <include path="~/fonts/simple-line-icons/style.min.css" />
    <include path="~/fonts/meteocons/style.min.css" />
  </styleBundle>
</bundles>
